<div class="prenotazione-confermata TFIP-style alert alert-success text-center p-4 rounded">
    <h1 class="fw-bold text-uppercase display-4 mb-4">CONFIRMED</h1>
    <i class="fa-solid fa-thumbs-up display-4 mb-3 roll-in"></i>
    <p class="lead">
      Grazie per aver prenotato presso il nostro locale! Non vediamo l&#39;ora di darti il benvenuto e farti vivere una bella serata!
    </p>
    <p class="lead">
      Thank you for booking with us!  
      We can&#39;t wait to welcome you and make sure you enjoy a wonderful evening!
    </p>
    <p class="mb-3">Ti aspettiamo! / We&#39;ll be waiting for you!</p>
    <p><small class="text-muted">The Florence Irish Pub Firenze</small></p>
  </div>
  