<div class="calendario-prenotazione TFIP-style">
    <div id="container-booking">
        <div class="date">
            
            <input type="text" id="client_date" name="client_date" class="time-input"/>
            
            <select id="client_time" name="client_time" class="form-control form-select">
                <option value="0">Seleziona orario</option>
            </select>
        </div>
        <button type="button" id="button-no-event-booking" onclick="BookNoEvent()" class="btn btn-success">
            Prenota
        </button>
    </div>
    <div id="error-booking-noevent"></div>
</div>