<% if (resolution == 1) { %>
    <div class="prenota-online container TFIP-style" id="final-form-booking">
        <div class="row">
            <div class="col-12 alert alert-warning text-center"  id="client-form-advise-final" hidden></div>
        </div>
        <div class="row">
            <div class="alert alert-info info-whatsapp text-center" role="alert">
                Inserisci il <b>codice di conferma</b> all'interno del box per confermare la tua prenotazione.  
                <br>Please enter the <b>confirmation code</b> in the box below to confirm your booking. 
                <br>   <b class="fw-bolder mt-2"><%- booking.codeb %></b> <br><i class="fa-solid fa-arrow-down rimbalza"></i>
            </div>
        </div>
        <div class="row">
            <form id="confirm_booking_form">            
                <div class="form-group form-prenotazione">
        
                    <input type="text"    hidden id="identification" name="identification" value="<%- booking.identification %>" required>
                    <input type="number"  hidden id="participants"   name="participants"   value="<%- booking.participants %>"  required>
                    <input type="number"  hidden id="timeslotid"     name="timeslotid"     value="<%- booking.timeslotid %>" required>
                    <input type="number"  hidden id="dayid"          name="dayid"          value="<%- booking.dayid %>" required>
                    <input type="text"    hidden id="phone"          name="phone"          value="<%- booking.phone %>" required>
                    <input type="text"    hidden id="extra"          name="extra"          value="<%- booking.extra %>" required>
                    <input type="number"  hidden id="eventid"        name="eventid"        value="<%- booking.eventid %>" required>
                    <input type="text"    hidden id="codeb"          name="codeb"          value="<%- booking.codeb %>" required>
                    <input type="text"    hidden id="timebook"       name="timebook"       value="<%- booking.timestart %>" required>
        
                    <input type="text" class="form-control codice-whatsapp" id="code" name="code" 
                           placeholder="000000" maxlength="6" 
                           pattern="[A-Za-z0-9]{6}" 
                           title="Please enter a 6-character alphanumeric code" 
                           required />
                </div>
        
                <button type="button" class="btn btn-success invia-prenotazione" onclick="ConfirmCodeBooking()">
                    Conferma prenotazione
                </button>
            </form>
        </div>
    </div>
    <% } else { %>
    <div class="prenota-online">
        <div class="alert alert-warning" role="alert">
            <%- message %>
        </div>
    </div>
    <% } %>
    