<form id="add-booking-admin-form" class="TFIP-style">
  <div class="row riga-modifica-prenotazione">
    <div class="col-12" id="message-admin"></div>

    <div class="col-12 mb-3" id="booking-form-data">
      
      <div class="row" id="extra-form-data">
       
      </div>

      <div class="row admin-modifica">
        <div class="col-12 col-md-6">
          <label for="admin_date_id">Data prenotazione:</label>
          <input type="text" class="form-control" id="admin_date_id" name="admin_date_id" value="<%- day_str %>" required>
        </div>
      </div>
      
      <div class="row admin-modifica align-items-end">
        <div class="col-6">
          <label for="time_booking">Fascia Oraria:</label>
          <select id="time_booking" name="time_booking" class="form-control form-select" required>
            <option value="0">Seleziona fascia oraria</option>
          </select>
        </div>
      
        <div class="col-6">
          <label for="exact_time_booking">Orario Prenotazione:</label>
          <select id="exact_time_booking" name="exact_time_booking" class="form-control form-select" required>
            <option value="0">Seleziona orario</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 admin-modifica">
          <label for="admin_identification">Nome:</label>
          <input type="text" class="form-control" id="admin_identification" name="identification"  required>
        </div>
        <div class="col-12 col-md-6 admin-modifica">
          <label for="admin_participants">Numero partecipanti:</label>
          <input type="number" class="form-control" id="admin_participants" name="participants" required>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 admin-modifica">
          <label for="admin_phone">Numero di telefono:</label>
          <input type="text" class="form-control" id="admin_phone" name="phone" placeholder="xxx xxxxxxx" required>
        </div>
        <div class="col-12 col-md-8 admin-modifica">
          <label for="admin_extra_message">Richieste particolari:</label>
          <textarea class="form-control" id="admin_extra_message" name="extra_message">
          </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 admin-modifica">
          <label for="admin_status">Stato:</label>
          <select class="form-control" id="admin_status" name="status" required>
            <option value="confirmed">Confermata</option>
            <option value="forwarded">Inoltrata</option>
          </select>
        </div>
        <div class="col-12 col-md-6 admin-modifica">
          <label for="admin_code">Codice:</label>
          <input class="form-control" id="admin_code" name="code" disabled>
        </div>
      </div>

      <div class="row  mt-3">
        <div class="col-12 text-start">
          <% if (origin_i == 0 || origin_i == 2) { %>
            <button type="button" onclick="save_form_admin_booking()"  class="btn btn-success"> Aggiungi Prenotazione </button>
            <button type="button" id="hide_form_booking_id" class="btn btn-primary" onclick="HideBookingForm()" data-list-containers='["main-calendar", "booking-form-caller"]' data-container="<%= name_div %>">- Hide Booking Form</button>
          <% } else { %> 
            <button type="button" onclick="Update_form_admin_booking()"  class="btn btn-success">Update Prenotazione </button>
            <button type="button" id="hide_form_booking_id" class="btn btn-primary" onclick="HideBookingForm()" data-list-containers='["container-timeslots-bookings"]' data-container="<%= name_div %>">- Hide Booking Form</button>
          <% } %>
        </div>
      </div>
      
    </div>
  </form>
  